@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background: var(--background-primary);
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
}

h1 {
    background: var(--background-primary);
    border-bottom: 1px solid var(--background-secondary);
    margin: 0;
    padding: 0.3em 0.5em;
}

.hidden {
    display: none;
}

#room-list {
    background-color: var(--background-secondary);
    position: absolute;
    top: var(--dim-title-height);
    bottom: 0px;
    width: var(--dim-list-width);
}

#room-content {
    background-color: var(--background-primary);
    position: absolute;
    top: var(--dim-title-height);
    bottom: var(--dim-input-height);
    left: var(--dim-list-width);
    right: 0px;
    margin: 0;
    overflow-y: scroll;
    padding: 0 1em;
}

#user-entry {
    background-color: var(--background-input);
    border-top: 1px solid var(--background-secondary);
    position: absolute;
    bottom: 0px;
    left: var(--dim-list-width);
    right: 0px;
    height: 38px;
    padding: 1em;
}

#user-entry input[type="text"] {
    background-color: var(--background-primary);
    border: 1px solid var(--background-secondary);
    border-radius: 10px;
    color: white;
    font-family: 'Lato', sans-serif;
    position: absolute;
    left: 1em;
    width: calc(100% - 3em - 50px);
    line-height: 30px;
    padding: 0.2em 0.5em;
}

#user-entry button {
    background-color: #71b1bd;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    right: 1em;
    height: 40px;
    width: 40px;
}

#user-entry button:hover {
    border: 1px solid grey;
}

#user-entry button:active {
    background-color: #6196a0;
}

ul#rooms {
    padding: 0;
}

ul#rooms li {
    margin: 5px 1em 0 1em;
    padding: 0.5em;
    list-style: none;
    border-radius: 5px;
    cursor: pointer;
}

ul#rooms li.active::before {
    content: "» ";
}

ul#rooms li.active {
    background-color: var(--background-primary);
    margin-right: 0;
    border-radius: 5px 0 0 5px;
}

ul#rooms li:hover {
    background-color: var(--background-primary);
}

dl#room-content dt {
    color: var(--text-highlight);
    margin-top: 1em;
}

dl#room-content dd {
    color: var(--text-normal);
    margin: 0 0 1em 0;
}

.theme {
    --dim-title-height: 59px;
    --dim-input-height: 71px;
    --dim-list-width: 200px;
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-input: #40444b;
    /* --header-shadow: #111111; */
    --text-highlight: #d6680e;
    --text-normal: #dcddde;
    --text-muted: #72767d;
}